{% extends 'base.twig' %}

{% block title %}
    <title>D2L++</title>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/static/css/dashboard.css"/>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark justify-content-between">
        <a href="/{{ user.username }}" class="navbar-brand" style="font-size: 20pt; color:#4285f4;">D2L++</a>
        <div class="float-right">
        <button class="btn btn-outline-success btn-sm my-0" onclick="location.href='/logout'">Logout</button>
        </div>
    </nav>

    {% block content %}
        <div id="courses-block">
            {% for course in courses %}
                <div id="class-card" class="card">
                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
                    <!--Card content-->
                    <div class="card-body">
                        <h4 class="card-title">{{ course.name }}</h4>
                        <a href="/{{ user.username }}/{{ course.name }}" class="btn btn-primary">View Course</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
